<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.delet_dis.elementarylauncher">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.APPWIDGET_LIST" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ElementaryLauncherTheme"
        tools:replace="android:supportsRtl,android:allowBackup,icon,label">

        <activity
            android:name=".presentation.activities.onboardingActivity.OnboardingActivity"
            android:configChanges="density|fontScale|keyboard|keyboardHidden|locale|orientation|screenLayout|screenSize"
            android:theme="@style/OnboardingActivityStyle"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.activities.launcherActivity.LauncherActivity"
            android:theme="@style/LauncherActivityStyle" />

        <activity
            android:name=".presentation.activities.aboutActivity.AboutActivity"
            android:theme="@style/OnboardingActivityStyle" />
    </application>

</manifest>